In [1]:
# import OS module
import os
import csv
from pathlib import Path
import pandas as pd
from pandas import isna
 
# Get the list of all files and directories
data_folder = Path(r'C:\Users\HKamkar\OneDrive\Desktop\Hossein Kamkar\data')
dir_list = os.listdir(data_folder)
 
print("Files and directories in '", data_folder, "' :")
 
# prints all files
print(dir_list)

Files and directories in ' C:\Users\HKamkar\OneDrive\Desktop\Hossein Kamkar\data ' :
['ABADA.csv', 'ABIN.csv', 'AFAGH.csv', 'AFRA.csv', 'AFRAN.csv', 'AGAS.csv', 'AHROM.csv', 'AKHABER.csv', 'AKONTOR.csv', 'AKORD.csv', 'ALBORZ.csv', 'ALMAS.csv', 'AMIN.csv', 'AMINYEKOM.csv', 'ANAR.csv', 'AP.csv', 'APARDAZ.csv', 'ARAM.csv', 'ARFA.csv', 'ARIYA.csv', 'ARIYAN.csv', 'ARMAGHAN.csv', 'ARMAN.csv', 'ARMANI.csv', 'ARZESH.csv', 'ASAM.csv', 'ASAMID.csv', 'ASAS.csv', 'ASHNATECH.csv', 'ASIA.csv', 'ASIATEK.csv', 'ASP.csv', 'ATI1.csv', 'ATIMES.csv', 'ATLAS.csv', 'AVA.csv', 'AVAN.csv', 'AVAND.csv', 'AVESTA.csv', 'AYANDEH.csv', 'AYAR.csv', 'BAIKA.csv', 'BALAS.csv', 'BARAN.csv', 'BAREKAT.csv', 'BAZR.csv', 'BEALBOR.csv', 'BEDCO.csv', 'BEFAJR.csv', 'BEGILAN.csv', 'BEHIR.csv', 'BEHPAK.csv', 'BEJAHROM.csv', 'BEKAB.csv', 'BEKAHNOJ.csv', 'BEKAM.csv', 'BEKHAVAR.csv', 'BEMAPNA.csv', 'BEMILA.csv', 'BEMOTO.csv', 'BENIROO.csv', 'BENO.csv', 'BEPAS.csv', 'BEPEYVAND.csv', 'BERELYAN.csv', 'BESAMA.csv', 'BESHAHAB.csv', 'BESWITHC.csv', 'BETAK.csv', 'BETERANS.csv', 'BEZAGROS.csv', 'BOURSE.csv', 'BUALI.csv', 'CABIK.csv', 'CABZEVA.csv', 'CAIRA.csv', 'CAROOJ.csv', 'CEARAB.csv', 'CEARBIL.csv', 'CEAZARI.csv', 'CEBAGHER.csv', 'CEBAHAN.csv', 'CEBOJNOO.csv', 'CEDASHT.csv', 'CEDOUR.csv', 'CEFANO.csv', 'CEFAR.csv', 'CEFAROD.csv', 'CEFARS.csv', 'CEFASI.csv', 'CEGHADIR.csv', 'CEGHARB.csv', 'CEGHAYEN.csv', 'CEHEGMAT.csv', 'CEHORMOZ.csv', 'CEILAM.csv', 'CEJAM.csv', 'CEKAROON.csv', 'CEKERMA.csv', 'CEKHAF.csv', 'CEKHASH.csv', 'CEKHAZAR.csv', 'CEKHOOZ.csv', 'CEKORD.csv', 'CELAR.csv', 'CEMAZAN.csv', 'CEMOTAZ.csv', 'CENEYR.csv', 'CEOROUM.csv', 'CEPAHA.csv', 'CEPERMI.csv', 'CEROOD.csv', 'CESFAHA.csv', 'CESHARGH.csv', 'CESHOMAL.csv', 'CESOOFI.csv', 'CETRAN.csv', 'CHAFFSET.csv', 'CHEBESPA.csv', 'CHEFIBER.csv', 'CHEKAPA.csv', 'CHEKAREM.csv', 'CHEKAREN.csv', 'CHEKAVEH.csv', 'CHEKHAZAR.csv', 'CHENOPA.csv', 'CHODAN.csv', 'CIDKO.csv', 'CITA.csv', 'DAMAVAND.csv', 'DANA.csv', 'DARA.csv', 'DARAB.csv', 'DARAYEKOM.csv', 'DARIC.csv', 'DAROO.csv', 'DARYUSH.csv', 'DDAANA.csv', 'DEABID.csv', 'DEABOR.csv', 'DEALBOR.csv', 'DEAMIN.csv', 'DEAVE.csv', 'DEBALK.csv', 'DEDAM.csv', 'DEFARA.csv', 'DEFRA.csv', 'DEGHAZI.csv', 'DEHAVI.csv', 'DEHDASHT.csv', 'DEJABER.csv', 'DEKAPSUL.csv', 'DEKIMI.csv', 'DEKOSAR.csv', 'DELER.csv', 'DELOGHMA.csv', 'DEOSVEH.csv', 'DEPARS.csv', 'DERAHAVAR.csv', 'DERAZAK.csv', 'DEROOZ.csv', 'DESANKO.csv', 'DESHIMI.csv', 'DESHIRI.csv', 'DESINA.csv', 'DESOBHA.csv', 'DESOBHAN.csv', 'DETEHRAN.csv', 'DETMAD.csv', 'DETOLID.csv', 'DETOZI.csv', 'DEY.csv', 'DEYRAN.csv', 'DEZAHRAVI.csv', 'DORSA.csv', 'EETEMAD.csv', 'ENERGY.csv', 'ETEKAE.csv', 'ETEKAM.csv', 'ETELA.csv', 'FAJR.csv', 'FALAT.csv', 'FAMA.csv', 'FANABA.csv', 'FANAVA.csv', 'FARABOURSE.csv', 'FARAK.csv', 'FARAVAR.csv', 'FARAZ.csv', 'FARDA.csv', 'FARS.csv', 'FASA.csv', 'FAZAR.csv', 'FBASTEM.csv', 'FBIRA.csv', 'FEAFZA.csv', 'FEAHWAZ.csv', 'FEALUM.csv', 'FEASMIN.csv', 'FEBAHONAR.csv', 'FEGHADIR.csv', 'FEGOSTAR.csv', 'FEIRA.csv', 'FEJAHAN.csv', 'FEKAMAND.csv', 'FEKHAS.csv', 'FEKHOZ.csv', 'FELOLEH.csv', 'FEMELI.csv', 'FEMORAD.csv', 'FENAFT.csv', 'FENAVAL.csv', 'FENAVARD.csv', 'FEOFOGH.csv', 'FEOLAD.csv', 'FEOLAJH.csv', 'FEOLAY.csv', 'FEPANTA.csv', 'FEROOY.csv', 'FEROS.csv', 'FEROSIL.csv', 'FESABZEVAR.csv', 'FESADID.csv', 'FESAZAN.csv', 'FESEPA.csv', 'FESORB.csv', 'FETOSA.csv', 'FEZAR.csv', 'FEZARIN.csv', 'FIROOZA.csv', 'FIROOZEH.csv', 'FJAM.csv', 'FJOOSH.csv', 'FLAMI.csv', 'FNERGY.csv', 'FOKA.csv', 'FROUD.csv', 'FSOLIR.csv', 'GANJIN.csv', 'GANJINEH.csv', 'GEDENA.csv', 'GEKISH.csv', 'GEKOSAR.csv', 'GEPARS.csv', 'GESHAN.csv', 'GHALBER.csv', 'GHARN.csv', 'GHASEM.csv', 'GHAZVIN.csv', 'GHEAZAR.csv', 'GHEBAHAR.csv', 'GHEBEHNOOSH.csv', 'GHEBESHAHR.csv', 'GHECHAR.csv', 'GHECHIN.csv', 'GHEDAM.csv', 'GHEDASHT.csv', 'GHEDIS.csv', 'GHEFARS.csv', 'GHEGILA.csv', 'GHEGOL.csv', 'GHEGOLESTA.csv', 'GHEGOLPA.csv', 'GHEGORJI.csv', 'GHEHEKMAT.csv', 'GHEJAM.csv', 'GHEKOUROSH.csv', 'GHELOREST.csv', 'GHEMAHRA.csv', 'GHEMARG.csv', 'GHEMARV.csv', 'GHEMINOO.csv', 'GHENAB.csv', 'GHENAGHSH.csv', 'GHENISHA.csv', 'GHENOOSH.csv', 'GHEOROOM.csv', 'GHEPAK.csv', 'GHEPEAZAR.csv', 'GHEPINO.csv', 'GHEPIRA.csv', 'GHEPOUNEH.csv', 'GHESABET.csv', 'GHESALEM.csv', 'GHESFAHA.csv', 'GHESHAHD.csv', 'GHESHAHDAB.csv', 'GHESHAN.csv', 'GHESHAZAR.csv', 'GHESHERIN.csv', 'GHESHESFA.csv', 'GHESHIR.csv', 'GHESHOCO.csv', 'GHESINOO.csv', 'GHETORBAT.csv', 'GHEVITA.csv', 'GHEYSTOO.csv', 'GHEYVAN.csv', 'GHEZAR.csv', 'GHSHAHD.csv', 'GHSHEKAR.csv', 'GNEGIN.csv', 'GOHAR.csv', 'GOHARAN.csv', 'GONBAD.csv', 'HAFARI.csv', 'HAMERZ.csv', 'HAMRAH.csv', 'HAMVAZN.csv', 'HEAFARIN.csv', 'HEARIA.csv', 'HEASA.csv', 'HEBANDAR.csv', 'HEFARS.csv', 'HEGARDESH.csv', 'HEJRAT.csv', 'HEKESHTI.csv', 'HEKHAZAR.csv', 'HEKMAT.csv', 'HEPARSA.csv', 'HEPETRO.csv', 'HERAHSHA.csv', 'HEREYL.csv', 'HESEYR.csv', 'HESINA.csv', 'HETAYD.csv', 'HETOOKA.csv', 'HGOHAR.csv', 'HIWEB.csv', 'HOMAY.csv', 'HORMOZ.csv', 'HSHOKOUH.csv', 'JAHROM.csv', 'JAM.csv', 'JAMPILEN.csv', 'JOVIN.csv', 'KAHROBA.csv', 'KALA.csv', 'KAMAN.csv', 'KAMAND.csv', 'KAMYAB.csv', 'KARA.csv', 'KARDAN.csv', 'KARIN.csv', 'KARIS.csv', 'KASPIAN.csv', 'KAVEH.csv', 'KAVIR.csv', 'KAYAZD.csv', 'KAZERO.csv', 'KBC.csv', 'KEABGEN.csv', 'KEAMA.csv', 'KEAZAR.csv', 'KEBADE.csv', 'KEBAFGH.csv', 'KECERA.csv', 'KECHAD.csv', 'KECHINI.csv', 'KEDAMA.csv', 'KEFARAVAR.csv', 'KEFPARS.csv', 'KEFRA.csv', 'KEGAZ.csv', 'KEGHAZVI.csv', 'KEGOHAR.csv', 'KEGOL.csv', 'KEHAFEZ.csv', 'KEHAMEDA.csv', 'KEHRAM.csv', 'KEIGACH.csv', 'KEISFA.csv', 'KEISON.csv', 'KEITA.csv', 'KEKHAK.csv', 'KELVAND.csv', 'KEMANGANEZ.csv', 'KEMARJAN.csv', 'KEMASEH.csv', 'KEMINA.csv', 'KENILOO.csv', 'KENOOR.csv', 'KEPARS.csv', 'KEPARVAR.csv', 'KEPSHIR.csv', 'KERAZI.csv', 'KERMAN.csv', 'KERMASHA.csv', 'KEROOY.csv', 'KESADAF.csv', 'KESADI.csv', 'KESAPA.csv', 'KESAVEH.csv', 'KESERAM.csv', 'KESHARGH.csv', 'KETABAS.csv', 'KETOOKA.csv', 'KETRAM.csv', 'KEZOGHAL.csv', 'KHAHAN.csv', 'KHATAM.csv', 'KHAVAR.csv', 'KHAZIN.csv', 'KHBAHMAN.csv', 'KHBAZRES.csv', 'KHBONYAN.csv', 'KHCHARKESH.csv', 'KHDIZEL.csv', 'KHEFOOLA.csv', 'KHELENT.csv', 'KHELIBL.csv', 'KHEOMRA.csv', 'KHESADRA.csv', 'KHETOGHA.csv', 'KHFANAR.csv', 'KHFANAVAR.csv', 'KHGOSTAR.csv', 'KHKAR.csv', 'KHKASHA.csv', 'KHKAVEH.csv', 'KHKERMAN.csv', 'KHKOMAK.csv', 'KHMEHR.csv', 'KHMEHVAR.csv', 'KHMOHAREKE.csv', 'KHMOTOR.csv', 'KHNASIR.csv', 'KHODKAFA.csv', 'KHODRO.csv', 'KHORASAN.csv', 'KHOSAZ.csv', 'KHPARS.csv', 'KHPOYESH.csv', 'KHRIKHT.csv', 'KHRING.csv', 'KHSAPA.csv', 'KHSHARGH.csv', 'KHTOUR.csv', 'KHTRAK.csv', 'KHZAMYA.csv', 'KHZAR.csv', 'KIAN.csv', 'KIMIA.csv', 'KIMIATEK.csv', 'KOLOR.csv', 'KOSAR.csv', 'LATIF.csv', 'LEABSA.csv', 'LEAZMA.csv', 'LEBOTAN.csv', 'LEKEMA.csv', 'LEKHANE.csv', 'LEKHAZAR.csv', 'LEPARS.csv', 'LEPAYAM.csv', 'LESARMA.csv', 'LOTUS.csv', 'MA.csv', 'MADARAN.csv', 'MADIRA.csv', 'MAFAKHER.csv', 'MAMASANI.csv', 'MANI.csv', 'MARGHAM.csv', 'MAROON.csv', 'MELAT.csv', 'MESGHAL.csv', 'MEYAR.csv', 'MIDKO.csv', 'MIHAN.csv', 'MOBIN.csv', 'MODIR.csv', 'MODIRIAT.csv', 'MORVARID.csv', 'NAHAL.csv', 'NAKHL.csv', 'NARVAN.csv', 'NASIM.csv', 'NEBORUJ.csv', 'NEGIN.csv', 'NEMRINO.csv', 'NESHAN.csv', 'NETOUS.csv', 'NETRIN.csv', 'NIROO.csv', 'NOAVAR.csv', 'NOORI.csv', 'NOVIN.csv', 'OFOGH.csv', 'OFOGHMELLAT.csv', 'OMID.csv', 'OPAL.csv', 'OWJ.csv', 'PAARAND.csv', 'PADA.csv', 'PADASH.csv', 'PAKHSH.csv', 'PAKSHOO.csv', 'PALAYESH.csv', 'PARDAKHT.csv', 'PARDIS.csv', 'PARS.csv', 'PARSAN.csv', 'PARSIAN.csv', 'PARTIN.csv', 'PEARTA.csv', 'PEASA.csv', 'PEDERAKHSH.csv', 'PEKAVIR.csv', 'PEKERMAN.csv', 'PELASK.csv', 'PELAST.csv', 'PELOLEH.csv', 'PESAHAND.csv', 'PESHAHEN.csv', 'PETIRE.csv', 'PETROL.csv', 'PEYAZD.csv', 'PISHGAM.csv', 'PISHRAFT.csv', 'POOYA.csv', 'REAFZA.csv', 'REANFOR.csv', 'REFAH.csv', 'REKISH.csv', 'REMAPNA.csv', 'REMAS.csv', 'RENIK.csv', 'RETAKO.csv', 'RETAP.csv', 'RISHMAK.csv', 'ROOYESH.csv', 'ROSHD.csv', 'SAAMAAN.csv', 'SABA.csv', 'SABAD.csv', 'SAHARKHIZ.csv', 'SAHEL.csv', 'SAINA.csv', 'SAJAN.csv', 'SAKHT.csv', 'SALAM.csv', 'SAMAN.csv', 'SAMIN.csv', 'SANAM.csv', 'SARCHESHME.csv', 'SARV.csv', 'SAVE.csv', 'SEALVAND.csv', 'SEASFA.csv', 'SEBAGH.csv', 'SEBEHSAZ.csv', 'SEDABIR.csv', 'SEETEMA.csv', 'SEFARS.csv', 'SEGHARB.csv', 'SEGHAZVI.csv', 'SEHAM.csv', 'SEJAVAN.csv', 'SEKHAND.csv', 'SEMASKAN.csv', 'SEMAYEH.csv', 'SEMEGA.csv', 'SENAM.csv', 'SENEZAM.csv', 'SENOOR.csv', 'SENOSA.csv', 'SENOVIN.csv', 'SEOMID.csv', 'SEOMRA.csv', 'SEP.csv', 'SEPAR.csv', 'SEPARDIS.csv', 'SEPAS.csv', 'SEPEHR.csv', 'SEPID.csv', 'SEPIDAMA.csv', 'SEPIDAR.csv', 'SEPORDE.csv', 'SEROOD.csv', 'SERVAT.csv', 'SERVATAM.csv', 'SESHAHED.csv', 'SESHARGH.csv', 'SETOOSA.csv', 'SETRAN.csv', 'SEZAGROS.csv', 'SHABRIZ.csv', 'SHAFA.csv', 'SHAMLA.csv', 'SHAPDIS.csv', 'SHAPNA.csv', 'SHARAK.csv', 'SHASTA.csv', 'SHAVAN.csv', 'SHBANDAR.csv', 'SHBASIR.csv', 'SHBEHRAN.csv', 'SHDOOS.csv', 'SHEGHADIR.csv', 'SHEJAM.csv', 'SHEKAM.csv', 'SHELIA.csv', 'SHEOROUM.csv', 'SHESAKHT.csv', 'SHETEHRAN.csv', 'SHETRAN.csv', 'SHFAN.csv', 'SHFARA.csv', 'SHFARS.csv', 'SHGOL.csv', 'SHGOOYA.csv', 'SHIRAN.csv', 'SHIRAZ.csv', 'SHKABIR.csv', 'SHKAF.csv', 'SHKARBON.csv', 'SHKHARK.csv', 'SHKOLOR.csv', 'SHLEAB.csv', 'SHLORD.csv', 'SHMAVAD.csv', 'SHNAFT.csv', 'SHOOYANDE.csv', 'SHPAKSA.csv', 'SHPAMCHA.csv', 'SHPARS.csv', 'SHPAS.csv', 'SHPETRO.csv', 'SHPOLI.csv', 'SHRANGI.csv', 'SHRANOL.csv', 'SHRAZ.csv', 'SHSADAF.csv', 'SHSAM.csv', 'SHSFAHA.csv', 'SHSINA.csv', 'SHSPA.csv', 'SHSTAN.csv', 'SHTOOKA.csv', 'SHTOOLI.csv', 'SHVASH.csv', 'SHZANG.csv', 'SIMORGH.csv', 'SINAD.csv', 'SOBAT.csv', 'SORIN.csv', 'SSAYAND.csv', 'SSEGHARB.csv', 'SSENOVIN.csv', 'STARS.csv', 'SYSTEM.csv', 'TABA.csv', 'TABAROK.csv', 'TAJALI.csv', 'TAKNAR.csv', 'TALAA.csv', 'TALISE.csv', 'TAPIKO.csv', 'TAPSI.csv', 'TARAZ.csv', 'TASIKO.csv', 'TASMIM.csv', 'TATMOS.csv', 'TECNO.csv', 'TECOMBA.csv', 'TECSHA.csv', 'TEFIROO.csv', 'TEHRAN1.csv', 'TEMOHAREKE.csv', 'TEPCO.csv', 'TEPOMPES.csv', 'TEPUMPI.csv', 'TERAK.csv', 'TESHTAD.csv', 'TFARS.csv', 'TIPIKO.csv', 'TIRA.csv', 'TMAVAND.csv', 'TMELAT.csv', 'TNOVIN.csv', 'TOPKISH.csv', 'TOREYL.csv', 'TOSAN.csv', 'TOSEEH.csv', 'TPOULA.csv', 'VAADAK.csv', 'VAAFAR.csv', 'VAAFARI.csv', 'VAAHSA.csv', 'VAAMIN.csv', 'VAAMIR.csv', 'VAANSAR.csv', 'VAARAS.csv', 'VAARIYAN.csv', 'VAATI.csv', 'VAATOS.csv', 'VAAVA.csv', 'VAAYAND.csv', 'VABAHMAN.csv', 'VABANK.csv', 'VABARGH.csv', 'VABAZAR.csv', 'VABEMELAT.csv', 'VABESADER.csv', 'VABESHAHR.csv', 'VABIMEH.csv', 'VABOALI.csv', 'VADANA.csv', 'VADEY.csv', 'VAEHYA.csv', 'VAETEBAR.csv', 'VAFTEKHAR.csv', 'VAGARDESH.csv', 'VAGHADIR.csv', 'VAGHAVAM.csv', 'VAGOSTAR.csv', 'VAHAFEZ.csv', 'VAHAMOON.csv', 'VAHEKMAT.csv', 'VAHONAR.csv', 'VAHOOR.csv', 'VAIRA.csv', 'VAIRAN.csv', 'VAJAMI.csv', 'VAKADO.csv', 'VAKAR.csv', 'VAKBAHMAN.csv', 'VAKHARAZM.csv', 'VAKHAVAR.csv', 'VAKOSAR.csv', 'VALANA.csv', 'VALBER.csv', 'VALEBAHMAN.csv', 'VALEKAR.csv', 'VALEMELLAT.csv', 'VALEPARS.csv', 'VALERAZ.csv', 'VALESANAM.csv', 'VALESAPA.csv', 'VALESHARGH.csv', 'VALGHADR.csv', 'VALIZ.csv', 'VALOGHMAN.csv', 'VALTOJAR.csv', 'VAMAADEN.csv', 'VAMEHAN.csv', 'VAMEHR.csv', 'VAMELAL.csv', 'VAMELAT.csv', 'VAMELLI.csv', 'VAMOALEM.csv', 'VAMODIR.csv', 'VAMOSHAN.csv', 'VANAFT.csv', 'VANIKI.csv', 'VANIROO.csv', 'VANOVIN.csv', 'VAOMID.csv', 'VAPAKHSH.csv', 'VAPARS.csv', 'VAPASAR.csv', 'VAPETRO.csv', 'VAPOOYA.csv', 'VAPOST.csv', 'VAPSA.csv', 'VARAZI.csv', 'VARENA.csv', 'VARIZAN.csv', 'VASADID.csv', 'VASAGHARBI.csv', 'VASAKAB.csv', 'VASAKHOZ.csv', 'VASAKHT.csv', 'VASALAT.csv', 'VASANA.csv', 'VASANAT.csv', 'VASANDOGH.csv', 'VASANO.csv', 'VASAPA.csv', 'VASARBIL.csv', 'VASARMAD.csv', 'VASASHARGHI.csv', 'VASEBOUSHEHR.csv', 'VASEFARS.csv', 'VASEGHOM.csv', 'VASEGILA.csv', 'VASEGOLESTA.csv', 'VASEHAMEDA.csv', 'VASEHORMOZ.csv', 'VASEKAHBOO.csv', 'VASEKERMAN.csv', 'VASEKHORAJ.csv', 'VASEKHORASH.csv', 'VASEKHOUZ.csv', 'VASEKORD.csv', 'VASEKORSHA.csv', 'VASELORESTA.csv', 'VASEMARKAZ.csv', 'VASEMAZAN.csv', 'VASEPAH.csv', 'VASEPEHR.csv', 'VASERAZAVI.csv', 'VASESFA.csv', 'VASEYAZD.csv', 'VASEYLAM.csv', 'VASEZANJAN.csv', 'VASHAHR.csv', 'VASHOMAL.csv', 'VASIN.csv', 'VASINA.csv', 'VASISTA.csv', 'VASNA.csv', 'VASOBHAN.csv', 'VASOOGH.csv', 'VATAOVON.csv', 'VATEJARAT.csv', 'VATOOKA.csv', 'VATOOS.csv', 'VATOOSHE.csv', 'VATOSA.csv', 'VATOSAM.csv', 'VAZAMIN.csv', 'VEAZAR.csv', 'VENTURE.csv', 'VISA.csv', 'VISTA.csv', 'VSARV.csv', 'YAGHOOT.csv', 'YARA.csv', 'ZAGROS.csv', 'ZANGAN.csv', 'ZANJAN.csv', 'ZAR.csv', 'ZARFAM.csv', 'ZARRIN.csv', 'ZEBINA.csv', 'ZEDASHT.csv', 'ZEFOKA.csv', 'ZEGHIAM.csv', 'ZEGOLDASHT.csv', 'ZEKESHT.csv', 'ZEKOSAR.csv', 'ZEMAGSA.csv', 'ZEMAHAN.csv', 'ZEMALARD.csv', 'ZEPARS.csv', 'ZESHAGZA.csv', 'ZESHARIF.csv', 'ZEYTOUN.csv', 'ZOB.csv']

In [2]:
print(str(data_folder) + '\AKHABER.csv')

C:\Users\HKamkar\OneDrive\Desktop\Hossein Kamkar\data\AKHABER.csv

In [3]:
df1 = pd.read_csv(str(data_folder) + '\ALBORZ.csv', usecols= ['<DTYYYYMMDD>','<CLOSE>'])
df1.set_index('<DTYYYYMMDD>')
df1.rename(columns={'<Close>': 'ALBORZ'})

      <DTYYYYMMDD>  <CLOSE>
0         20091007       27
1         20091010       29
2         20091011       29
3         20091012       30
4         20091013       31
...            ...      ...
2836      20220815     2000
2837      20220816     2086
2838      20220817     2100
2839      20220820     2061
2840      20220821     2080

[2841 rows x 2 columns]

In [4]:
df2 = pd.read_csv(str(data_folder) + '\ASIA.csv', usecols= ['<DTYYYYMMDD>','<CLOSE>'])
df2.set_index('<DTYYYYMMDD>')
df2.rename(columns={'<Close>': 'ASIA'})

      <DTYYYYMMDD>  <CLOSE>
0         20091223       19
1         20091228       19
2         20091229       20
3         20091230       20
4         20100102       21
...            ...      ...
2553      20220815     1590
2554      20220816     1640
2555      20220817     1656
2556      20220820     1596
2557      20220821     1594

[2558 rows x 2 columns]

In [5]:
frames = [df1, df2]
result = pd.merge(df1, df2, how="left", on='<DTYYYYMMDD>')
result

      <DTYYYYMMDD>  <CLOSE>_x  <CLOSE>_y
0         20091007         27        NaN
1         20091010         29        NaN
2         20091011         29        NaN
3         20091012         30        NaN
4         20091013         31        NaN
...            ...        ...        ...
2836      20220815       2000     1590.0
2837      20220816       2086     1640.0
2838      20220817       2100     1656.0
2839      20220820       2061     1596.0
2840      20220821       2080     1594.0

[2841 rows x 3 columns]

In [6]:
data = pd.DataFrame(df1)
data.drop(columns='<CLOSE>', inplace = True)
df = pd.DataFrame()
data

      <DTYYYYMMDD>
0         20091007
1         20091010
2         20091011
3         20091012
4         20091013
...            ...
2836      20220815
2837      20220816
2838      20220817
2839      20220820
2840      20220821

[2841 rows x 1 columns]

In [ ]:
for stock_data in dir_list:
    #print(stock_data)
    df = pd.read_csv(str(data_folder) + '\\' + stock_data, usecols= ['<DTYYYYMMDD>','<CLOSE>'])
    df = df.set_index('<DTYYYYMMDD>')
    #print(stock_data)
    stock_name = stock_data.split('.')
    #print(stock_name)
    df.rename(columns={'<CLOSE>': stock_name[0].casefold().capitalize() }, inplace = True)
    data = pd.merge(data, df, how="outer", on='<DTYYYYMMDD>')

In [8]:
data = data.sort_values(by=['<DTYYYYMMDD>'])
data = data.set_index('<DTYYYYMMDD>')
data

,Abada,Abin,Afagh,Afra,Afran,Agas,Ahrom,Akhaber,Akontor,Akord,...,Zekesht,Zekosar,Zemagsa,Zemahan,Zemalard,Zepars,Zeshagza,Zesharif,Zeytoun,Zob
<DTYYYYMMDD>,,,,,,,,,,,,,,,,,,,,,
20010325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20010326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20010327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20010328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20010331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20220815,9030.0,7380.0,10137.0,18890.0,17208.0,84719.0,11200.0,6820.0,NaN,40700.0,...,25250.0,12600.0,19030.0,6480.0,10180.0,39040.0,4795.0,3644.0,12340.0,2787.0
20220816,8920.0,NaN,10142.0,18150.0,17219.0,83468.0,11080.0,7170.0,NaN,40725.0,...,26550.0,13310.0,19510.0,6440.0,10610.0,39070.0,4720.0,3541.0,12330.0,2824.0
20220817,8920.0,NaN,10150.0,18800.0,17229.0,82700.0,11080.0,7090.0,NaN,40758.0,...,27450.0,13240.0,20380.0,6480.0,10940.0,40500.0,4800.0,3680.0,12300.0,2833.0
20220820,8840.0,NaN,10165.0,18320.0,17259.0,82110.0,10600.0,6880.0,NaN,40815.0,...,27800.0,13140.0,21220.0,6610.0,11410.0,40900.0,4800.0,3815.0,12300.0,2728.0
20220821,8680.0,NaN,10171.0,19230.0,17268.0,81833.0,10510.0,6960.0,NaN,40840.0,...,26050.0,12900.0,21770.0,6670.0,11910.0,41730.0,5063.0,3795.0,12320.0,2653.0

In [9]:
# Number of missing Values for each individual stock
data.isna().sum()

Abada       4690
Abin        4387
Afagh       5131
Afra        2730
Afran       4592
            ...
Zepars      4410
Zeshagza    4124
Zesharif    4435
Zeytoun     4974
Zob         2900
Length: 851, dtype: int64

In [10]:
# How many stocks need back filling (na in first rows)
data.iloc[0,:].isna().sum()

813

In [11]:
# Filling the missing data
data = data.fillna(method='ffill')
data = data.fillna(method='bfill')
data

,Abada,Abin,Afagh,Afra,Afran,Agas,Ahrom,Akhaber,Akontor,Akord,...,Zekesht,Zekosar,Zemagsa,Zemahan,Zemalard,Zepars,Zeshagza,Zesharif,Zeytoun,Zob
<DTYYYYMMDD>,,,,,,,,,,,,,,,,,,,,,
20010325,14037.0,156.0,10000.0,307.0,10000.0,10000.0,10000.0,192.0,168.0,10000.0,...,1883.0,11212.0,13.0,1307.0,8131.0,739.0,241.0,813.0,10000.0,160.0
20010326,14037.0,156.0,10000.0,307.0,10000.0,10000.0,10000.0,192.0,168.0,10000.0,...,1883.0,11212.0,13.0,1307.0,8131.0,739.0,241.0,813.0,10000.0,160.0
20010327,14037.0,156.0,10000.0,307.0,10000.0,10000.0,10000.0,192.0,168.0,10000.0,...,1883.0,11212.0,13.0,1307.0,8131.0,739.0,241.0,813.0,10000.0,160.0
20010328,14037.0,156.0,10000.0,307.0,10000.0,10000.0,10000.0,192.0,168.0,10000.0,...,1883.0,11212.0,13.0,1307.0,8131.0,739.0,241.0,813.0,10000.0,160.0
20010331,14037.0,156.0,10000.0,307.0,10000.0,10000.0,10000.0,192.0,168.0,10000.0,...,1883.0,11212.0,13.0,1307.0,8131.0,739.0,241.0,813.0,10000.0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20220815,9030.0,7380.0,10137.0,18890.0,17208.0,84719.0,11200.0,6820.0,45893.0,40700.0,...,25250.0,12600.0,19030.0,6480.0,10180.0,39040.0,4795.0,3644.0,12340.0,2787.0
20220816,8920.0,7380.0,10142.0,18150.0,17219.0,83468.0,11080.0,7170.0,45893.0,40725.0,...,26550.0,13310.0,19510.0,6440.0,10610.0,39070.0,4720.0,3541.0,12330.0,2824.0
20220817,8920.0,7380.0,10150.0,18800.0,17229.0,82700.0,11080.0,7090.0,45893.0,40758.0,...,27450.0,13240.0,20380.0,6480.0,10940.0,40500.0,4800.0,3680.0,12300.0,2833.0
20220820,8840.0,7380.0,10165.0,18320.0,17259.0,82110.0,10600.0,6880.0,45893.0,40815.0,...,27800.0,13140.0,21220.0,6610.0,11410.0,40900.0,4800.0,3815.0,12300.0,2728.0
20220821,8680.0,7380.0,10171.0,19230.0,17268.0,81833.0,10510.0,6960.0,45893.0,40840.0,...,26050.0,12900.0,21770.0,6670.0,11910.0,41730.0,5063.0,3795.0,12320.0,2653.0

In [12]:
# Filling the missing data
# Drop holidays (non trading days)
data.dropna(axis = 0, how = 'all', inplace = True)

In [13]:
# Number of missing Values for each individual stock
data.isna().sum()

Abada       0
Abin        0
Afagh       0
Afra        0
Afran       0
           ..
Zepars      0
Zeshagza    0
Zesharif    0
Zeytoun     0
Zob         0
Length: 851, dtype: int64

In [15]:
data.to_csv('close.csv', index=True)